# Ignore the .env file specifically in the src directory
/src/.env

# Alternatively, ignore any .env files within src if multiple exist
# /src/*.env

# Ignore terrform variable files 
*.tfvars
*.tfvars.json

# Terraform state and backup files
*.tfstate
*.tfstate.*
# .terraform directories (Terraform modules and plugins)
.terraform/
.terraform.lock.hcl

../terraform/*.tfvars
/terraform/*.tfvars
terraform/terraform.tfvars
# ----------------------------
# Optional: Ignore Other Files
# ----------------------------

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# VS Code settings folder
.vscode/

# Log files
*.log

# Node.js dependencies (if applicable)
node_modules/

# Python virtual environments (if applicable)
venv/